---
apiVersion: v1
kind: ConfigMap
metadata:
  name: threescale-camel-service-config
data:
  camel-proxy-service.port.nonsecure: '9090'
  camel-proxy-service.port.secure: '9443'
  camel-proxy-service.keystore.mount-path: /mnt
---
apiVersion: v1
kind: Secret
metadata:
  name: threescale-camel-service-secret
stringData:
  camel-proxy-service.keystore.passphrase: P@ssw0rd
  quarkus.oidc-client.auth-server-url: https://sso.apps.ocp4.jnyilimb.eu/realms/demo
  quarkus.oidc-client.client-id: threescale-camel-service
  quarkus.oidc-client.credentials.secret: CHANGEME_SECRET
  quarkus.otel.exporter.otlp.endpoint: http://otel-collector.observability.svc:4317
type: Opaque
---
# Generate a ServiceMonitor resource for the threescale-camel-service service
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: threescale-camel-service
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: threescale-camel-service
      app.kubernetes.io/version: 1.0.0
  endpoints:
    - scheme: http
      targetPort: 9876
      path: /observe/metrics
      interval: 10s
      honorLabels: true